.navbar .container {
	background-color: gold;
}




footer .footer-column {
	min-height: 300px;
}

footer .column-socials {
	background-color: pink;
}

footer .column-links {
	background-color: darkviolet;
	border: 2px dashed white;
}

footer .footer-bottom {
	background-color: yellow;
}