/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* general styles */

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/* header */

.navbar {
	height: 4rem; /* TODO: check the value */
	background-color: cyan; /* TODO: check the value */
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.navbar .container > * {
	display: flex;
	align-items: center;
}

.navbar .container > *:hover {
	background-color: brown;
	cursor: pointer;
}

.jumbo .content {
	max-width: 500px;
	margin-inline: auto;
	padding-inline: 1rem;
}

.jumbo {
	padding-top: 3rem;
	padding-bottom: 4rem;
}

/* main */

main section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-feature .container {
	display: flex;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}

.bkg-gray {
	background-color: lightslategrey; /* TODO: check value */
}

.section-feature .image {
	flex: 0 0 60%;
}

.section-feature .text {
	flex: 0 0 40%;
}

/* footer */

footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: black; /* TODO: check value */
}

footer .footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 3px solid white; /* TODO: check value */
}

footer .column-socials {
	flex: 0 0 40%;
}

footer .column-links {
	flex: 0 0 15%;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}